#bin
bin/

#doc
doc/

#example
example/

#Dependency directories
node_modules/

#src
src/

#test
test/

#root
.babelrc
.eslintrc
.gitignore
.prettierrc.js
.travis.yml
gulpfile.js
jest.config.js
package-lock.json
tsconfig.json

.idea/